#myImagem {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 0% 0%;
  animation: mymove 5s infinite;
}  

@keyframes mymove {
  0% {
    object-position: 0% 0%;
  }
  25% {
    object-position: 20% 0%;
  }
  100% {
    object-position: 100% 100%;
  }
}