#avancado_colors1 {background-color: rgba(255, 0, 0, 1.0);} 
#avancado_colors2 {background-color: rgba(0, 255, 0, 1.0);} 
#avancado_colors3 {background-color: rgba(0, 0, 255, 1.0);} 
#avancado_colors4 {background-color: rgba(255, 0, 0, 0.5);} 
#avancado_colors5 {background-color: rgba(0, 255, 0, 0.5);} 
#avancado_colors6 {background-color: rgba(0, 0, 255, 0.5);} 

