#avancado_colors1 {background-color: rgba(255, 0, 0, 1.0);} 
#avancado_colors2 {background-color: rgba(0, 255, 0, 1.0);} 
#avancado_colors3 {background-color: rgba(0, 0, 255, 1.0);} 
#avancado_colors4 {background-color: rgba(255, 0, 0, 0.5);} 
#avancado_colors5 {background-color: rgba(0, 255, 0, 0.5);} 
#avancado_colors6 {background-color: rgba(0, 0, 255, 0.5);} 

#avancado_colors7 {background-color: hsl(360, 100%, 50%);}
#avancado_colors8 {background-color: hsl(120, 100%, 75%);}
#avancado_colors9 {background-color: hsl(240, 100%, 25%);}
#avancado_colors10 {background-color: hsl(0, 60%, 70%);}

#avancado_colors11 {background-color: rgba(255, 0, 0, 0.1);opacity:0.6;}

#container-transparent {
  background: url("../../img/ppmarrocos.png") no-repeat;
  min-height: 200px;
}

#container-transparent .transp1 { 
  background-color: lightpink;
  border: 2px solid green;
  padding: 15px;
  max-width: 425px;
  text-align: center;
}

#container-transparent .transp2 { 
  background-color: transparent;
  border: 2px solid pink;
  padding: 15px;
  max-width: 425px;
  text-align: center;
}
.color-current1 {
	color: green;
	border: 10px solid currentcolor;
	padding: 15px; 
}